# Data Science Tools and Ecosystem

## Introduction
In this notebook, the Data Science Tools and Ecosystem are summarized

## Objectives:
- List popular languages that Data Science.
- Introduce Commonly used libraries in Data Science.
- Demonstrate conversion of minutes to hours in Python.

## Overview
Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL

## Overview
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools|
| ------------------|
| Jupyter Notebook  |
| RS Studio         |
| VS Code           |

### Examples of Arithmetic Expressions in Python
Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression  to mutiply then add integers
result = (3*4)+5
print(result)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Milan Medan